.page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  .content {
    width: 70vw;
    margin: 20px 60px;

    h2 {
      padding: 0;
    }
  }
  .sidebar {
    flex: 1;
    position: fixed;
    right: 0;
    width: 25vw;
    height: 100vh;
    background-color: #222;
    background-size: cover;
    background-position: bottom;

    h1 {
      white-space: nowrap;
      margin-top: 1.5rem;
      margin-left: 1.6rem;
    }
  }
}

.page-wrapper.about {
  .about-me-desc {
    display: flex;
  }
}