.page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  .content {
    width: 75vw;
    margin: 20px;
  }
  .sidebar {
    flex: 1;
    position: fixed;
    right: 0;
    width: 25vw;
    height: 100vh;
    background-color: #222;
    background-size: cover;
    background-position: bottom;

    h1 {
      white-space: nowrap;
      margin-top: 1.5rem;
      margin-left: 1.6rem;
    }
  }
}