.services {
  text-align: center;
  padding: 15px;
  -webkir-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service-page .image-container {
  background: url(../img/service_featured.png);
  background-size: cover;
  background-position: bottom;
}

.faq-desc-item {
  margin: 15px 10px;
}

.flip-container {
  margin: auto;
  position: relative;
}

.flip-container,
.flipper {
  height: auto;
  min-height: 350px;
}

.flipper {
  width: 100%;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;

}

.flipper i {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #ed1c24;
  color: white;
  margin-top: 100px;
  font-size: 25px;
  border-color: #fff;
  line-height: 58px;
}

.front {
  z-index: 2;
  background-color: #f4f4f4;
  width: 100%;
}

.front h5 {
  line-height: 31px;
  font-weight: 400;
  margin-top: -29px;
  width: 100%;
}

.front h5,
.back p {
  margin-top: 20px;
}

.back {
  z-index: 1;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: #f4f4f4;
}

.back h5 {
  margin-top: 40px;
}

.back p {
  text-align: center;
  padding: 0 20px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.82em;
}

.flip-container:hover .front {
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-container:hover .back {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
