@import 'Intro';
@import 'Menu';

.home-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;

  > * {
    flex: 1;
  }

}