.home-page {

  .introduction {
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-content {
    font-family: 'Playfair Display', serif;
    margin: 0 auto;

    h1 {
      color: #4b4b4b;
      display: block;
      font-family: 'Playfair Display', serif;
      margin-left: -50px;
      margin-bottom: 1px;
      font-size: 35px;
      font-weight: 700;
    }

    span {
      color: #6f5499;
      font-size: 135px;
      font-weight: 700;
      line-height: 80px;
      letter-spacing: 1px;
    }

    .slogan-text {
      font-weight: 400;
      font-size: 25px;
      padding-left: 21px;
      margin-top: 5px;
    }
  }

  .text_logo_intro .intro-content .social-media {
    margin-top: 50px;
  }

  .social-media {
    font-size: 25px;
    text-align: center;

    a {
      color: #4b4b4b;
      text-decoration: none;
      outline: 0 none;
      padding: 0 15px;

      &:hover {
        color: #00B796;
      }
    }
  }

  .social-media a + .tooltip > .tooltip-inner {
    background-color: transparent;
    color: #00B796;
    font-size: 16px;
    border-bottom-color: transparent;
  }

}