
@media (max-width: 1056px) and (min-width: 992px){

  .main-heading h1{
    font-size: 45px;
  }
}


@media (max-width: 991px) and (min-width: 768px){

  .intro-content h1{
    padding-left: 30px;
  }

  .intro-content span{
    font-size: 100px;
  }

  .intro-content span.number{
    font-size: 12em;
  }

  .intro-content .slogan-text{
    padding-left: 21px;
    margin-top: 22px;
  }

  .main-heading h1{
    font-size: 35px;
  }
}


@media (max-width: 767px){

  .introduction{
    text-align: center;
    z-index: 9999;
    background-color: #fff;
  }

  .text_logo_intro .intro-content{
    top: 15%;
  }

  .image_logo_intro .intro-content{
    top: 0%;
  }

  .introduction img.logo {
    position: absolute;
    top: 3%;
    left: 0;
  }

  .intro-content h1{
    margin-bottom: 12px;
    padding-left: 0px;
  }

  .intro-content span{
    font-size: 75px;
  }

  .intro-content span.number{
    font-size: 9em;
  }

  .intro-content .slogan-text{
    margin-top: 15px;
    font-size: 16px;
    padding-left: 0px;
  }

  .text_logo_intro .intro-content .social-media{
    margin-top: 0px;
  }

  .image_logo_intro .intro-content .social-media{
    margin-top: 115%;
  }

  .social-media a{
    font-size: 22px;
    padding: 5px;
  }

  .close-btn{
    background: url(../img/close_sm.png);
    top: 5px;
  }

  .menu > div h2 {
    font-size: 18px;
  }

  .footer .copyright{
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer .author{
    float: none;
    text-align: center;
  }

  .mfp-content .mfp-close {
    right: 2%;
  }

  .home-page{
    min-height: 641px;
    overflow: auto;
    position: absolute;
  }

  .about-me-desc p:first-child {
    margin: 20px 0px;
  }

}


@media (min-width: 768px) {
  .showcase-header h1 {
    font-size: 75px;
    margin-top: 100px;
  }

  .showcase-header p {
    font-size: 17px;
    max-width: 500px;
  }
}

@media (max-width: 767px) {
  .showcase-header h1 span.v-marker {
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 32px;
    right: -30px;
  }

  .home-page {
    flex-direction: column;
  }
}

